{
    // Make sure to add env options here...
    "env": {
        "jest": true
    },

    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 12,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "plugins": [
        "react"
    ],

    "rules": {
        "react/destructuring-assignment": ["error", "always"],
        "require-jsdoc": ["error", {
            "require": {
                "FunctionDeclaration": true
            }
        }],
        "react/self-closing-comp": ["error"]
        // "react/jsx-filename-extension": [2, { "allow": "as-needed" }]
    },
    "settings": {
      "react": {
          "version": "detect"
      }  
    }
}